body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  display: grid;
  padding: 4px 8px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.container {
  background: #e3f4ff;
  margin: 4px 0px;
}

.title {
  font-size: 16px;
  margin-left: 8px;
  margin-right: auto;
}

.content {
  padding: 16px 8px;
}

.button-container {
  text-align: center;
  padding: 8px;
}

.button-container p {
  margin: 0px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}